# Week 11 Assignment : Aggregation

* Importing pandas modules and matplotlib for Ipython Notebook operations.

In [245]:
import pandas as pd
from pandas import DataFrame, read_csv
%matplotlib inline
pd.options.display.max_rows = 200

## Accessing / Opening the CSV file:

Create the demographics object, for hold the data read from parsing through the file <i> us_demographics.csv </i>. 
* Below we will use the read_csv to load this into the notebook.

In [246]:
demographics = pd.read_csv('us_demographics.csv', dtype={'id': int})

In [247]:
demographics.head()

      Sex and age       2000       2010
0            Male  138053563  151781326
1          Female  143368343  156964212
2   Under 5 years   19175798   20201362
3    5 to 9 years   20549505   20348657
4  10 to 14 years   20528072   20677194

In [248]:
demographics = pd.melt(demographics, id_vars=['Sex and age'],
                     value_vars = ['2000', '2010'], value_name = 'Population')

In [249]:
demographics.columns = ['Sex / Age', 'Year', 'Population']

In [250]:
demographics.head()

        Sex / Age  Year  Population
0            Male  2000   138053563
1          Female  2000   143368343
2   Under 5 years  2000    19175798
3    5 to 9 years  2000    20549505
4  10 to 14 years  2000    20528072

In [251]:
demographics = demographics[demographics['Sex / Age'] != 'Male']
demographics = demographics[demographics['Sex / Age'] != 'Female']

In [252]:
year2010 = demographics.loc[demographics['Year'] == '2010'].sum()['Population']
year2000 = demographics.loc[demographics['Year'] == '2000'].sum()['Population']

In [253]:
demographics[demographics['Year'] != '2000']

            Sex / Age  Year  Population
21      Under 5 years  2010    20201362
22       5 to 9 years  2010    20348657
23     10 to 14 years  2010    20677194
24     15 to 19 years  2010    22040343
25     20 to 24 years  2010    21585999
26     25 to 34 years  2010    41063948
27     35 to 44 years  2010    41070606
28     45 to 54 years  2010    45006716
29     55 to 59 years  2010    19664805
30     60 to 64 years  2010    16817924
31     65 to 74 years  2010    21713429
32     75 to 84 years  2010    13061122
33  85 years and over  2010     5493433
34  18 years and over  2010   234564071
35  21 years and over  2010   220958853
36  62 years and over  2010    49972181
37  65 years and over  2010    40267984

In [254]:
demographics[demographics['Year'] != '2010']

            Sex / Age  Year  Population
2       Under 5 years  2000    19175798
3        5 to 9 years  2000    20549505
4      10 to 14 years  2000    20528072
5      15 to 19 years  2000    20219890
6      20 to 24 years  2000    18964001
7      25 to 34 years  2000    39891724
8      35 to 44 years  2000    45148527
9      45 to 54 years  2000    37677952
10     55 to 59 years  2000    13469237
11     60 to 64 years  2000    10805447
12     65 to 74 years  2000    18390986
13     75 to 84 years  2000    12361180
14  85 years and over  2000     4239587
15  18 years and over  2000   209128094
16  21 years and over  2000   196899193
17  62 years and over  2000    41256029
18  65 years and over  2000    34991753

In [255]:
demographics.describe()

         Population
count  3.400000e+01
mean   4.759428e+07
std    6.352121e+07
min    4.239587e+06
25%    1.901695e+07
50%    2.113160e+07
75%    4.106894e+07
max    2.345641e+08

In [256]:
pd.crosstab(['Age Groups per Year'], demographics.Year)

Year                 2000  2010
row_0
Age Groups per Year    17    17